.box{
    border: 2px solid slateblue;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}
.btn{
    background: blue;
    color: white;
    border-radius: 20px;
}

.visited{
    background: #8b8b8b;
}